.hero {
  position: relative;
  height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

/* VIDEO */
.hero__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

/* CONTENT */
.hero__content {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 593px;
  align-items: center;
  height: 100%;
  gap: 80px;
}

/* LEFT */
.hero__left h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.15;
}

.hero__desc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.hero__button {
  display: inline-block;
  margin-top: 28px;
  padding: 14px 36px;
  border: 2px solid #ff3b2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

/* STATS */
.hero__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  row-gap: 40px;
}

.stat {
  position: relative;
  padding-left: 16px;
}

.stat::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 2px;
  height: 80px;
  background: #ff3b2f;
}

.stat img {
  width: 58px;
  height: 59px;
  margin-bottom: 6px;
}

/* Первая карточка */
.stat--main b {
  font-size: 48px;
  line-height: 1;
}

/* Остальные карточки */
.stat:not(.stat--main) b {
  font-size: 24px;
  line-height: 1.2;
}


.stat span {
  font-size: 12px;
  line-height: 1.45;
  display: block;
  margin-top: 8px;
}
.stat--main img {
  width: 59px;
  height: 58px;
  margin: 8px 0;
}

