<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main Page</title>
    </head>
    <body>
        <h2>Links</h2>

        <ol type="1">
            <li><a href="http://www.kubsu.ru/index.php">KubSU</a></li>
            <li><a href="https://www.kubsu.ru/index.php">KubSU</a></li>
            <li id="image"><a href="https://www.kubsu.ru/index.php"><img src="image.jpg"></a></li>
            <li><a href="inner_page">Inner Page</a></li>
            <li><a href="index_page">Main Page</a></li>
            <li><a href="#image">Link to Image</a></li>
            <li><a href="https://www.kubsu.ru/ru/timetable?page=1&name=student&id=453">KubSU Timetable</a></li>
            <li><a href="https://www.kubsu.ru/ru/timetable?id=453">KubSU Timetable</a></li>
            <li><a href="inner_html">Link on Inner Page</a></li>
            <li><a href="about/something">Link on about/something</a></li>
            <li><a href="../byte">Link on ../byte</a></li>
            <li><a href="../../bit">Link on ../../bit</a></li>
            <li><p>This <a href="https://www.kubsu.ru/index.php">link</a> to KubSU</p></li>
            <li><a href="https://www.kubsu.ru/index.php#section-footer">This link to KubSU footer</a></li>
            <li>
                <img src="image.jpg" usemap="#map-rect-circle">
                <map name="map-rect-circle">
                    <area shape="rect" coords="0, 0, 100, 150" href="https://www.kubsu.ru/index.php">
                    <area shape="circle" coords="57, 43, 30" href="https://www.kubsu.ru/index.php">
                </map>
            </li>
            <li><a href="">Link to Nothing</a></li>
            <li><a>Link without href</a></li>
            <li><a href="https://www.kubsu.ru/index.ph" rel="nofollow">No follow link</a></li>
            <li><a href="https://www.kubsu.ru/index.php" rel="noindex">No index link</a></li>
            <li>
                <ol>
                    <li><a href="" title="First Link">First Link</a></li>
                    <li><a href="" title="Second Link">Second Link</a></li>
                    <li><a href="" title="Third Link">Third Link</a></li>
                </ol>
            </li>
            <li><a href="ftp://user:pass123@something.ru/tmp/text.txt">FTP link</a></li>
        </ol>

        <h2>Form</h2>

        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <div><label for=""></label><input type="text"></div>
        <style>
            img {
                max-width: 200px;
                max-height: 200px;
            }
            li {
                margin-bottom: 15px;
            }
        </style>
    </body>
</html>